@font-face {
    font-family: "MainFont";
    src: url(./font.ttf);
}


html,
body {
    text-align: center;
    font-family: 'MainFont';
    background-color: #FCF9BE;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
}

p {
    font-size: large;
}

.scoreText {
    position: relative;
}

#addedScore {
    position: absolute;
    opacity: 0;

    color: yellow;
    -webkit-text-stroke: 1px black;
}

.animation {
    animation: moveUp 1s ease-out forwards;
}

@keyframes moveUp {
    0% {
        bottom: -5vh;
        opacity: 100%;
    }

    80% {
        bottom: 0vh;
    }

    100% {
        opacity: 0%;
    }
}

#canvas {
    background-color: #E8F3D6;
    display: none;

    background-image:
        linear-gradient(90deg, transparent 99%, black 100%),
        linear-gradient(0deg, transparent 99%, black 100%);
    background-size: 25% 25%;
}

.ranking {
    margin-top: 5vh;
    display: inline-block;
    background-color: #FFDCA9;

    position: relative;
}

.border {
    border-width: min(1vw, 1vh);
    border-radius: min(1vw, 1vh);
    border-style: solid;
    border-color: black;
}

#resetButton {
    position: absolute;
    right: 0.25vw;
    top: 0.25vh;

    width: min(5vw, 5vh);
    background-color: white;
}

#resetButton:active {
    background-color: gray;
}

.rank1 {
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}

.rank2 {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
}

.rank3 {
    background: linear-gradient(45deg, #a65b00 0%, #f77823 45%, #ffc583 70%, #f77823 85%, #a65b00 90% 100%);
}

button {
    background-color: #FAAB78;

    display: inline-block;
    font-size: 4vh;

    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;

    cursor: pointer;
    font-family: MainFont;
}

button:active {
    background-color: #a97451;
}

table {
    margin: auto;
    width: 95%;
}

td {
    width: 48%;
}

.score {
    background-color: cornsilk;
}

.information {
    margin-top: 5px;
    margin-bottom: 5px;
}