@font-face {
    font-family: "MainFont";
    src: url(./font.ttf);
}


html,
body {
    text-align: center;
    font-family: 'MainFont';
    background-color: #FCF9BE;
}

p {
    font-size: large;
}

#canvas {
    background-color: #E8F3D6;
    display: none;
}

#ranking {
    margin-top: 5vh;
    display: inline-block;
    background-color: #FFDCA9;
}

#ranking > div {
    display: inline-block;
    width: 80%;
    margin: 2vh;
    background-color: cornsilk;
}

.border {
    border-width: min(1vw, 1vh);
    border-radius: min(1vw, 1vh);
    border-style: solid;
    border-color: black;
}

#button {
    background-color: #FAAB78;

    display: inline-block;
    font-size: 4vh;

    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 1vh;
}
#button:active {
    background-color: #a97451;
}

.rank1 {
    background: linear-gradient(45deg, #B67B03 0%, #DAAF08 45%, #FEE9A0 70%, #DAAF08 85%, #B67B03 90% 100%);
}
.rank2 {
    background: linear-gradient(45deg, #757575 0%, #9E9E9E 45%, #E8E8E8 70%, #9E9E9E 85%, #757575 90% 100%);
}
.rank3 {
    background: linear-gradient(45deg, #a65b00 0%, #f77823 45%, #ffc583 70%, #f77823 85%, #a65b00 90% 100%);;
}